* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 97vh;
    background-color: #ffeef1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 3px solid #cb9989;
    height: 461px;
    width: 279px;
    padding: 20px;
    border-radius: 24px;
    background-color: #fff;
}

#display {
    display: flex;
    flex-direction: column;
    height: 30%;
    margin-bottom: 20px;
}

#display > * {
    border: none;
    text-align: right;
}

#expression-display {
    height: 30%;
    color: #eb95a4;
    font-size: 16px;
}

#solution-display {
    height: 70%;
    padding-right: 10px;
    font-size: 30px;
    border-radius: 9px;
    background-color: #fd9671;
    color: #fff;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttons {
    height: 70%;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
}

button {
    border: none;
    background-color: #fff;
    padding: 0;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: larger;
    font-weight: 500;
    color: #535151;
}

button:active {
    border: 1px solid grey;
}

.buttons #divide {
    grid-row-start: 1;
    grid-column-start: 2;
}

.buttons #multiply {
    grid-row-start: 1;
    grid-column-start: 3;
}

.buttons #minus {
    grid-row-start: 2;
    grid-column-start: 4;
}

.buttons #plus {
    grid-row-start: 3;
    grid-column-start: 4;
}

.buttons #equals {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;

    background-color: #ffeef1;
    color: #eb95a4;
}

.buttons #clear-one {
    color: coral;
}

#btn-1, #btn-2, #btn-3 {
    grid-row-start: 4;
}

#btn-4, #btn-5, #btn-6 {
    grid-row-start: 3;
}

#btn-0 {
    grid-column-start: 2;
}
